@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,800;1,400;1,800&display=auto");

@keyframes fadeIn {
	from {
		transform: translateY(100%);
		opacity: 0;
	}
	to {
		transform: translateY(0%);
		opacity: 1;
	}
}

* {
	box-sizing: border-box;
}

:root {
	--green: #1db954;
	--light-green: #1ed760;
	--blue: #1e3264;
	--light-blue: #2a468d;
	--white: #fff;
	--grey: grey;
	--light-grey: #f8f8f8;
	--black: black;
}

body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

.no-transition * {
	transition: none !important;
}

.container {
	margin: 0 auto;
	max-width: 1170px;
	position: relative;
}

.cta-button {
	text-decoration: none;
	color: var(--white);
	display: inline-block;
	padding: 1em 3em;
	text-transform: uppercase;
	font-weight: bold;
	background-color: var(--grey);
	border-radius: 50rem;
	border: solid thin var(--grey);
	text-align: center;
	transition: all 0.3s;
}

.cta-button--blue {
	background-color: var(--blue);
	border-color: var(--blue);
	&:hover {
		background-color: var(--light-blue);
	}
}

.cta-button--white {
	background-color: var(--white);
	border-color: var(--green);
	color: var(--green);
	&:hover {
		background-color: var(--light-green);
		border-color: var(--light-green);
		color: var(--white);
	}
}

.cta-button--green {
	background-color: var(--green);
	border-color: var(--green);
	color: var(--white);
	&:hover {
		background-color: var(--light-green);
		border-color: var(--light-green);
	}
}

.site-header {
	background-color: transparent;
	color: var(--white);
	padding: 10px 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	transition: background-color 1s;
}

.site-header.sticky {
	background-color: rgba(0, 0, 0, 0.5);
}

.site-header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.site-header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.site-header nav a {
	padding: 1em;
	display: inline-block;
	color: inherit;
	text-decoration: none;
}

.site-logo {
	line-height: 0;
}

.site-logo img {
	width: 140px;
}

/* SECTION 1 */

.section1 {
	height: 640px;
	padding-bottom: 20px;
	color: var(--white);
	background-image: url("../images/hero-image.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom right;
}

.section1 .container {
	height: 100%;
	display: flex;
	flex-direction: column;

	& > div {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	& h1 {
		font-size: 6rem;
		margin: 0;
	}

	& h2 {
		font-size: 1.875rem;
	}

	.cta-button {
		font-size: 1rem;
		animation: fadeIn 1s;
	}
}

.section1 footer {
	flex-shrink: 0;
	text-align: center;
}

/* SECTION 2 */

.section2 {
	background-color: var(--white);
	.container {
		display: flex;
		flex-direction: column;
	}
}

.section2 h1 {
	text-align: center;
	font-size: 3rem;
}

.benefit-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.benefit-list li {
	width: 25%;
}

.benefit {
	text-align: center;
	padding: 2em;
	& h1 {
		font-size: 1.25rem;
	}
	& h2 {
		font-size: 0.875rem;
	}
}

/* SECTION3 */

.section3 {
	background-color: var(--light-grey);
	padding-bottom: 20px;
	.container {
		display: flex;
		flex-direction: column;
	}
}

.section3 h1 {
	text-align: center;
	font-size: 1.875rem;
}

.offer-list {
	padding: 0;
	list-style: none;
	width: 70%;
	margin: 1.25rem auto;
	display: flex;
	justify-content: space-between;
}

.offer-list > li {
	width: 48%;
}

.offer {
	display: flex;
	flex-direction: column;
	background-color: var(--white);
	padding: 2rem;
	border-radius: 0.625rem;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
	height: 100%;
	position: relative;
	top: 0;
	transition: all 0.3s;
	&:hover {
		top: -0.625rem;
		box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
	}

	& h1 {
		margin: 0;
		font-size: 1.5rem;
		text-align: left;
		font-weight: 400;
	}
	& h2 {
		margin: 0;
		font-size: 2rem;
		& small {
			font-weight: 400;
		}
	}
	& ul {
		padding: 2rem 0 2rem 2rem;
		margin: 1.25rem 0;
		border-top: solid thin lightgrey;
		border-bottom: solid thin lightgrey;
		list-style-image: url("../images/checklist.svg");
	}
	& li {
		margin-bottom: 1em;
	}
	& li:last-child {
		margin: 0;
	}
}

.section3 footer {
	margin-top: 60px;
	text-align: center;
}

.site-footer {
	padding: 20px 0;
	background-color: var(--black);
	color: var(--white);
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	& ul {
		display: flex;
		gap: 1rem;
	}
	& a {
		color: inherit;
		text-decoration: none;
	}
}

.site-footer nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
